* {
    margin: 0;
    padding: 0;
}

.para {
    color: blue;
    padding: 10px;
    margin: 0;
}

#navbar {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.para1 {
    background-color: aquamarine;
}

.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}